<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <title></title>
  </head>
  <body>

    <!-- ヘッダー部分 -->
    <nav>
      <div class="nav-wrapper teal lighten-1">
        <a href="/textEditer" class="brand-logo left"><%= mainData.name %></a>
        <ul id="nav-mobile" class="right">
          <li><a href="/openFile">Open File</a></li>
          <li><a href="/newFile">New File</a></li>
        </ul>
      </div>
    </nav>

    <!-- タイトル表示、編集保存部分 -->
    <form action="/textEditer/saveMainTitle" method="post">
      <div class="row">
        <h4 id="mainTitle"><%= mainData.title %></h4>
      </div>
      <input type="hidden" name="mainId" value="<%= mainData.id %>">
      <input type="hidden" id="hiddenTitle" value="<%= mainData.title %>">
    </form>

    <!-- 本体 -->
    <div class="row col s12">

      <!-- 本文編集、保存 -->
      <form action="/textEditer/saveMain" method="post" class="col s7" name="saveMain">
        <div class="input-field">
          <textarea id="textarea1" name="mainText" class="materialize-textarea"><%= mainData.body%></textarea>
          <label for="textarea1">本文</label>
        </div>
        <input type="hidden" name="mainId" value="<%= mainData.id %>">
      </form>

      <!-- メモの表示 -->
      <div class="col s5">
        <% if(typeof memoData !== 'undefined'){ %>
          <h3>Memo</h3>
          <ul class="collapsible" data-collapsible="expandable">
            <% memoData.forEach((currentValue, index, array) => { %>
              <li>
                <div class="collapsible-header"><%= currentValue.title %></div>
                <div class="collapsible-body">
                  <textarea class="materialize-textarea"><%= currentValue.body %></textarea>
                  <a class="btn-floating teal lighten-1" id="memoEdit" name="<%= currentValue.id %>"><i class="material-icons">edit_mode</i></a>
                  <a class="btn-floating teal lighten-1" id="memoDelete" name="<%= currentValue.id %>">delete</a><i class="material-icons">delete</i>
                </div>
              </li>
            <% })%>
          </ul>
        <% } %>
      </div>

      <!-- サブテキストの表示 -->
      <div class="col s5">
        <% if(typeof subData !== 'undefined'){ %>
          <h3>SubText</h3>
          <ul class="collapsible" data-collapsible="expandable">
            <% subData.forEach((currentValue, index, array) => { %>
              <li>
                <div class="collapsible-header"><%= currentValue.title %>
                  <a class="btn-floating teal lighten-1" id="subEdit" name="<%= subData.id %>"><i class="material-icons">edit_mode</i></a>
                  <a class="btn-floating teal lighten-1" id="SubDelete" name="<%= subData.id %>"><i class="material-icons">delete</i></a>
                </div>
                <div class="collapsible-body">
                  <p><%= currentValue.body %></p>
                </div>
              </li>
            <% })%>
          </ul>
        <% } %>
      </div>

      <!-- メモとサブテキストの追加ボタン -->
      <div class="row">
        <a class="dropdown-button btn-floating waves-effect waves-light teal lighten-1" data-activates="addMemoOrSub" data-beloworigin="true" data-constrainwidth="false"><i class="material-icons">add</i></a>
        <ul id="addMemoOrSub" class="dropdown-content">
          <li><a class="modal-trigger" href="#createMemo">Add Memo</a></li>
          <li><a class="modal-trigger" href="#createSub">Add Sub Text</a></li>
        </ul>
      </div>
    </div>

    <!-- footer部分 -->
    <div class="row">
      <div class="col s7">
        <button id="save" class="btn waves-effect waves-light"><i class="material-icons right">save</i>保存</button>
        </form>
        <button class="btn waves-effect waves-light modal-trigger" data-target="writeFileModal">テキストファイルに出力
          <i class="material-icons right">attachment</i>
        </button>
        <span id="numberOfCharacter1">0文字</span>
        <span id="selectedCharacterLength1">０文字選択中</span>
      </div>
    </div>

    <!-- ファイルに書き出しするときのモーダル部分 -->
    <div id="writeFileModal" class="modal">
      <div class="modal-content">
        <div class="input-field col s6">
          <input type="text" id="filePath" placeholder="ex.) Documents/" value="Documents/">
          <label for="filePath">ファイルパス</label>
        </div>
        <div class="input-field col s6">
          <input type="text" id="textFileName" placeholder="ex.) hoge.txt">
          <label for="textFileName">ファイル名</label>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <a href="#!" class=" modal-action modal-close waves-effect waves-lighten btn teal lighten-1" id="writeFile">書き出し
            <i class="material-icons right">description</i>
          </a>
          <a href="#!" class="modal-action modal-close waves-effect waves-lighten btn teal lighten-1" id="appendFile">既存ファイルに追記
            <i class="material-icons right">mode_edit</i>
          </a>
        </div>
      </div>
    </div>

    <!-- メモを作る時のモーダル -->
    <div id="createMemo" class="modal">
      <div class="modal-content">
        <div class="input-field">
          <input type="text" id="newMemoTitle">
          <label for="newMemoTitle">メモのタイトル</label>
        </div>
        <div class="input-field">
          <textarea class="materialize-textarea" id="newMemoText"></textarea>
          <label for="newMemoText">メモの内容</label>.
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-light btn teal lighten-1 white-text" id="createMemoButton">作成
            <i class="material-icons right">note_add</i>
          </a>
        </div>
      </div>
    </div>

    <!-- サブテキストを作る時のモーダル -->
    <div id="createSub" class="modal">
      <div class="modal-content">
        <div class="input-field">
          <input type="text" id="newSubTitle">
          <label for="newSubTitle">サブテキストのタイトル</label>
        </div>
        <div class="input-field">
          <textarea class="materialize-textarea" id="newSubText"></textarea>
          <label for="newSubText">サブテキストの内容</label>.
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-light btn teal lighten-1 white-text" id="createSubButton">作成
            <i class="material-icons right">note_add</i>
          </a>
        </div>
      </div>
    </div>

    <!-- ファイルへの書き出しが成功した時の表示 -->
    <% if(typeof successWriteFile !== 'undefined'){ %>
      <div id="successWriteFileModal" class="modal">
        <div class="modal-content">
          <a id="successWriteFile" name="<%= successWriteFile %>"><%= successWriteFile %></a>
        </div>
      </div>
    <% } %>

    <!-- ファイル削除ボタン -->
    <button class="btn waves-effect waves-light red accent-2" id="delete" name="<%= mainData.id %>"><i class="material-icons right">delete</i>ファイルの削除</button>

    <!-- ファイルへの書き出しに使用する隠しフォーム -->
    <form action="/textEditer/writeFile" method="post" name="writeFile">
      <input type="hidden" name="filePath">
      <input type="hidden" name="textFileName">
      <input type="hidden" name="mainText">
    </form>

    <!-- 既存ファイルへの追記に使用する隠しフォーム -->
    <form action="/textEditer/appendFile" method="post" name="appendFile">
      <input type="hidden" name="filePath">
      <input type="hidden" name="textFileName">
      <input type="hidden" name="mainText">
    </form>

    <!-- ファイルデータの削除に使用する隠しフォーム -->
    <form action="/textEditer/deleteFile" method="post" name="deleteFile">
      <input type="hidden" name="mainId">
    </form>

    <!-- メモ作成時に使用する隠しフォーム -->
    <form action="/textEditer/createMemo" method="post" name="createMemo">
      <input type="hidden" name="newMemoTitle">
      <input type="hidden" name="newMemoText">
      <input type="hidden" name="mainId" value="<%= mainData.id %>">
    </form>

    <!-- メモ削除時に使用する隠しフォーム -->
    <form action="/textEditer/deleteMemo" method="post" name="deleteMemo">
      <input type="hidden" name="memoDataId">
    </form>

    <!-- メモ編集時に使用する隠しフォーム -->
    <form action="/textEditer/editMemo" method="post" name="editMemo">
      <input type="hidden" name="memoDataId"">
    </form>

    <!-- 未保存状態か判定するための隠しテキストデータ -->
    <input type="hidden" id="formerMainText" value="<%= mainData.body %>">
  </body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script>
  $(function(){
    var $mainTitle = $('#mainTitle');
    var $textarea1 = $('#textarea1');
    var $numberOfCharacter1 = $('#numberOfCharacter1');
    var $selectedCharacterLength1 = $('#selectedCharacterLength1');
    var $numberOfCharacter2 = $('#numberOfCharacter2');
    var $selectedCharacterLength2 = $('#selectedCharacterLength2');
    var $numberOfCharacter3 = $('#numberOfCharacter3');
    var $selectedCharacterLength3 = $('#selectedCharacterLength3');
    var $memoText1 = $('#memoText1');
    var $memoText2 = $('#memoText2');
    var $expectedBySFC = $('#expectedBySFC');
    var $expectedByDepartment = $('#expectedByDepartment');
    var $hiddenTitle = $('#hiddenTitle');
    var $writeFile = $('#writeFile');
    var $appendFile = $('#appendFile');
    var $formerMainText = $('#formerMainText');
    var $deleteButton = $('#delete');
    var $saveButton = $('#save');
    var $createMemoButton = $('#createMemoButton');
    var $newMemoText = $('#newMemoText');
    var $newMemoTitle = $('#newMemoTitle');
    var $deleteMemoButton = $('#memoDelete');
    var $editMemoButton = $('#memoEdit');
    var mainTitle = $mainTitle.val();

    $('#textarea1').trigger('autoresize');

    $(document).ready(function(){
      $('.modal-trigger').leanModal();
    });
    if($('#successWriteFile').length > 0){
      $('#successWriteFileModal').openModal();
    }
    $('textarea').keyup(function(){
      if($formerMainText[0].defaultValue !== $textarea1.val()){
        $('#notSaveAlert').detach();
        $('body').append('<div class="fixed-action-btn" id="notSaveAlert" style="bottom: 10px; right: 24px;"><a class="red white-text">未保存</a></div>');
      }else{
        $('#notSaveAlert').detach();
      }
    });
    $numberOfCharacter1.text($textarea1.val().length + '文字');

    $textarea1.keyup(function(){
      $numberOfCharacter1.text($textarea1.val().length + '文字');
    });
    $textarea1.select(function(){
      $selectedCharacterLength1.text(window.getSelection().toString().length + '文字選択中');
      $textarea1.keyup(function(){
        $selectedCharacterLength1.text(window.getSelection().toString().length + '文字選択中');
      });
    });
    $mainTitle.dblclick(function(){
      $mainTitle.replaceWith('<input type="text" value="' + $hiddenTitle[0].defaultValue + '" id="mainTitleValue" name="mainTitle">');
    });
    $writeFile.click(function(){
      document.writeFile.filePath.value = $('#filePath').val();
      document.writeFile.textFileName.value = $('#textFileName').val();
      document.writeFile.mainText.value = $textarea1.val();
      document.writeFile.submit();
    });
    $appendFile.click(function(){
      document.appendFile.filePath.value = $('#filePath').val();
      document.appendFile.textFileName.value = $('#textFileName').val();
      document.appendFile.mainText.value = $textarea1.val();
      document.appendFile.submit();
    });
    $deleteButton.click(function(){
      document.deleteFile.mainId.value = this.name;
      document.deleteFile.submit();
    });
    $saveButton.click(function(){
      document.saveMain.submit();
    });
    $createMemoButton.click(function(){
      var newMemoTitle = $newMemoTitle.val();
      var newMemoText = $newMemoText.val();
      console.log(newMemoText);
      console.log(newMemoTitle);
      document.createMemo.newMemoTitle.value = newMemoTitle;
      document.createMemo.newMemoText.value = newMemoText;
      document.createMemo.submit();
    });
    $deleteMemoButton.click(function(){
      document.deleteMemo.memoDataId.value = this.name;
      document.deleteMemo.submit();
    });
    $editMemoButton.click(function(){
      document.editMemo.memoDataId.value = this.name;
      document.editMemo.submit();
    });
  });
  </script>
</html>
