<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <title></title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper teal lighten-2">
        <a href="/textEditer" class="brand-logo left"><%= mainData.name %></a>
        <ul id="nav-mobile" class="right">
          <li><a href="/openFile">Open File</a></li>
          <li><a href="/newFile">New File</a></li>
        </ul>
      </div>
    </nav>
    <form action="/textEditer/saveMainTitle" method="post">
      <div class="row">
        <h4 id="mainTitle"><%= mainData.title %></h4>
      </div>
      <input type="hidden" name="mainId" value="<%= mainData.id %>">
      <input type="hidden" id="hiddenTitle" value="<%= mainData.title %>">
    </form>
    <div class="row">
      <form action="/textEditer/saveMain" method="post" class="col s12">
        <span class="input-field col s12">
          <textarea id="textarea1" name="mainText" class="materialize-textarea"><%= mainData.body%></textarea>
          <label for="textarea1">本文</label>
          <input type="hidden" name="mainId" value="<%= mainData.id %>">
        </span>
        <button type="submit" class="btn waves-effect waves-light"><i class="material-icons right">save</i>保存</button>
        <button class="btn waves-effect waves-light modal-trigger" data-target="writeFileModal">本文の内容をテキストファイルに出力
          <i class="material-icons right">attachment</i>
        </button>
        <span id="numberOfCharacter1">0文字</span>
        <span id="selectedCharacterLength1">０文字選択中</span>
      </form>
    </div>
    <div id="writeFileModal" class="modal">
      <div class="modal-content">
        <div class="input-field col s6">
          <input type="text" id="filePath" placeholder="Documents/" value="Documents/">
          <label for="filePath">ファイルパス</label>
        </div>
        <div class="input-field col s6">
          <input type="text" id="textFileName" placeholder="hoge.txt">
          <label for="textFileName">ファイル名</label>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" id="writeFile">書き出し
          <i class="material-icons right">description</i>
        </a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="appendFile">既存ファイルに追記
          <i class="material-icons right">mode_edit</i>
        </a>
      </div>
    </div>
    <% if(typeof successWriteFile !== 'undefined'){ %>
      <div id="successWriteFileModal" class="modal">
        <div class="modal-content">
          <a id="successWriteFile" name="<%= successWriteFile %>"><%= successWriteFile %></a>
        </div>
      </div>
    <% } %>
    <textarea id="textarea2"></textarea>
    <textarea id="textarea3"></textarea>
    <div id="numberOfCharacter2">0文字</div>
    <div id="selectedCharacterLength2">0文字選択中</div>
    <div id="numberOfCharacter3">0文字</div>
    <div id="selectedCharacterLength3">0文字選択中</div>
    <span id="expectedBySFC">＊SFCが期待する学生＊</span>
    <span id="memoText1">
      現代社会が直面する様々な問題は多岐にわたる複雑な要因が絡み合い、どの一つをとってみても個別学問の枠組みを大きく超えている。<br>
      SFCでは、現実の諸問題を個別学問の域で切り取るのではなく、関係する既存の書学問の成果を知識と技術の体系として新たに再編成し、豊かな発想と広い視野から問題を捉えて解決に導く能力を自ら学び取る「問題発見解決型」「創造性開発型」の教育を重視している。<br>
      学部の理念や内容をよく理解した上で「SFCでこんなことを学びたい」「問題意識」「テーマ」<br>
      「自らの手で未来を拓く力を磨いてほしい」
    </span>
    <span id="expectedByDepartment">＊環境情報学部が期待する学生＊</span>
    <span id="memoText2">
      「環境と情報の時代」におけるグローバル社会の開拓者の育成。<br>
      未来を自ら開拓できるたくましい力と人間性の確立を目指し、かつ、夢を実現し、問題を発見し解決する、実践的な力を身につける。<br>
      自分の問題意識を明確にし、目標を立て、その実現のためになすべきとや将来参加したいプロジェクトについて考える<br>
      自分で学んだ知識やスキルを通じて、どのような卒業プロジェクトをまとめてみたいかを構想<br>
      学問分野にとらわれない幅広い視野を持ち、地球的規模で問題発見・解決できるプロフェッショナルを目指し、新しいことに挑戦するチャレンジ精神を持っている学生を歓迎<br>
    </span>
    <span id="memoText3">
      １、志を簡潔に。<br>
      ２、そのきっかけ(問題発見)。<br>
	       - そのきっかけから。<br>
      ３、問題分析<br>
	       - 問題の原因を分析<br>
      ４、解決策<br>
      ５、大学での学び<br>
	       - なんで慶応なのか。これは4とリンク。<br>
	       -  具体的に。<br>
    </span>
    <button class="btn waves-effect waves-light red accent-2" id="delete" name="<%= mainData.id %>"><i class="material-icons right">delete</i>ファイルの削除</button>
    <form action="/textEditer/writeFile" method="post" name="writeFile">
      <input type="hidden" name="filePath">
      <input type="hidden" name="textFileName">
      <input type="hidden" name="mainText">
    </form>
    <form action="/textEditer/appendFile" method="post" name="appendFile">
      <input type="hidden" name="filePath">
      <input type="hidden" name="textFileName">
      <input type="hidden" name="mainText">
    </form>
    <form action="/textEditer/deleteFile" method="post" name="deleteFile">
      <input type="hidden" name="mainId">
    </form>
    <input type="hidden" id="formerMainText" value="<%= mainData.body %>">
  </body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script>
  $(function(){
    var $mainTitle = $('#mainTitle');
    var $textarea1 = $('#textarea1');
    var $textarea2 = $('#textarea2');
    var $textarea3 = $('#textarea3');
    var $numberOfCharacter1 = $('#numberOfCharacter1');
    var $selectedCharacterLength1 = $('#selectedCharacterLength1');
    var $numberOfCharacter2 = $('#numberOfCharacter2');
    var $selectedCharacterLength2 = $('#selectedCharacterLength2');
    var $numberOfCharacter3 = $('#numberOfCharacter3');
    var $selectedCharacterLength3 = $('#selectedCharacterLength3');
    var $memoText1 = $('#memoText1');
    var $memoText2 = $('#memoText2');
    var $expectedBySFC = $('#expectedBySFC');
    var $expectedByDepartment = $('#expectedByDepartment');
    var $hiddenTitle = $('#hiddenTitle');
    var $writeFile = $('#writeFile');
    var $appendFile = $('#appendFile');
    var $formerMainText = $('#formerMainText');
    var $deleteButton = $('#delete');
    var mainTitle = $mainTitle.val();

    $('#textarea1').trigger('autoresize');

    $(document).ready(function(){
      $('.modal-trigger').leanModal();
    });
    if($('#successWriteFile').length > 0){
      $('#successWriteFileModal').openModal();
    }
    $('textarea').keyup(function(){
      if($formerMainText[0].defaultValue !== $textarea1.val()){
        $('#notSaveAlert').detach();
        $mainTitle.append('<span class="new badge red" id="notSaveAlert" data-badge-caption="未保存"></span>');
      }else{
        $('#notSaveAlert').detach();
      }
    });
    $numberOfCharacter1.text($textarea1.val().length + '文字');
    $numberOfCharacter2.text($textarea2.val().length + '文字');
    $numberOfCharacter3.text($textarea3.val().length + '文字');

    $textarea1.keyup(function(){
      $numberOfCharacter1.text($textarea1.val().length + '文字');
    });
    $textarea1.select(function(){
      $selectedCharacterLength1.text(window.getSelection().toString().length + '文字選択中');
      $textarea1.keyup(function(){
        $selectedCharacterLength1.text(window.getSelection().toString().length + '文字選択中');
      });
    });
    $textarea2.keyup(function(){
      $numberOfCharacter2.text($textarea2.val().length + '文字');
    });
    $textarea2.select(function(){
      $selectedCharacterLength2.text(window.getSelection().toString().length + '文字選択中');
      $textarea2.keyup(function(){
        $selectedCharacterLength2.text(window.getSelection().toString().length + '文字選択中');
      });
    });
    $textarea3.keyup(function(){
      $numberOfCharacter3.text($textarea3.val().length + '文字');
    });
    $textarea3.select(function(){
      $selectedCharacterLength3.text(window.getSelection().toString().length + '文字選択中');
      $textarea3.keyup(function(){
        $selectedCharacterLength3.text(window.getSelection().toString().length + '文字選択中');
      });
    });
    $mainTitle.dblclick(function(){
      $mainTitle.replaceWith('<input type="text" value="' + $hiddenTitle[0].defaultValue + '" id="mainTitleValue" name="mainTitle">');
    });
    $writeFile.click(function(){
      document.writeFile.filePath.value = $('#filePath').val();
      document.writeFile.textFileName.value = $('#textFileName').val();
      document.writeFile.mainText.value = $textarea1.val();
      document.writeFile.submit();
    });
    $appendFile.click(function(){
      document.appendFile.filePath.value = $('#filePath').val();
      document.appendFile.textFileName.value = $('#textFileName').val();
      document.appendFile.mainText.value = $textarea1.val();
      document.appendFile.submit();
    });
    $deleteButton.click(function(){
      document.deleteFile.mainId.value = this.name;
      document.deleteFile.submit();
    });
  });
  </script>
</html>
